# Ignore all dotfiles by default
.*

# Ignore Gradle build outputs
build

# Include Git configuration
!.gitignore
!.gitattributes

# Include code style
!.editorconfig

# GitHub configuration
!.github

# Teamcity configuration
!.teamcity
